<!DOCTYPE html>
<html>
<head>
  <%- include('head'); -%>
</head>
<body>
  <%- include('header'); -%>
  <div id="content-wrapper" class="container valign-wrapper">
    <div class="section">
      <div class=""
      <h1 class="header center">404 not found!</h1>
      <br />
      <span class="center flow-text">Seems like we cannot find the page you requested! :(</span>
    </div>
    <div class="section">
      <a href="/" class="waves-effect waves-light btn"><i class="material-icons">home</i> Home</a>
    </div>
  </div>
  <%- include('footer'); -%>
</body>
</html>
