<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2018 AperLambda
    </div>
  </div>
</footer>
<script>
(function($){
  $(function(){ $('.sidenav').sidenav(); }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
<div class="sidenav-overlay" style="display: none; opacity: 0;"></div>
<div class="drag-target"></div>
